{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Register{% endblock %}

{% block content %}

    <div class="container py-5 min-vh-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-3 mt-md-4 pb-4">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
{#                            <p class="text-muted mb-5">Please enter your login and password!</p>#}

                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div style="font-weight: 500">
                                        {{ field|as_crispy_field }}
                                    </div>
                                {% endfor %}

                                {#                            <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#">Forgot password?</a></p>#}

                                <button class="btn btn-outline-success btn-lg px-5 mt-4" type="submit">Register</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
