<div class="col-sm-12 col-lg-6">

</div>

<div class="col-sm-12 col-lg-3 p-3 border shadow rounded" style="background-color: whitesmoke">

    <h3 class="text-muted text-center mb-0" style="font-weight: 400">General Tools | <i
            class="fa-regular fa-calendar-days"></i></h3>
    <p class="text-muted text-center" style="font-weight: 500; font-size: small">Just needed to fill this space 0_o</p>

    <div class="pb-2 text-center">
        <a href="#" class="btn btn-lg btn-outline-success" type="button">
            <i class="fa-regular fa-calendar-plus pe-2"></i> Create Entry
        </a>
    </div>


    <div class="pb-2 text-center">
        <a href="#" class="btn btn-md btn-secondary" type="button">
            <i class="fa-solid fa-list-check pe-1"></i> View Reports
        </a>
    </div>


    <div class="mb-2 text-center">
        <a href="#" class="btn btn-md btn-secondary" type="button">
            <i class="fa-solid fa-gear pe-1"></i> Settings
        </a>
    </div>

</div>


<div class="col-sm-12 col-lg-3 pt-4 pt-lg-3 text-center">

    <h3 class="text-muted mb-0" style="font-weight: 400">Manage Vehicles | <i class="fa-solid fa-car"></i></h3>
    {# TODO: Create custom user model with 'default_vehicle' field #}
    <p class="text-muted" style="font-weight: 500; font-size: small">Default: 2009 Rav4</p>

    <a href="#" class="btn btn-md btn-light" type="button">
        Add a Vehicle
    </a>

</div>
