{% extends 'base.html' %}

{% block title %}Mileage Tracker{% endblock %}

{% block content %}

    {% now "H" as current_hour %}

    <div class="container-fluid min-vh-100">

        <div class="row">
            <div class="welcome text-center pt-lg-2 fadeInOne">
                <div class="pt-2">
                    {% if current_hour|add:0 < 12 %}
                        <p>Good Morning, {{ user.username }}
                            <i class="fa-solid fa-mug-hot fadeInTop"></i>
                        </p>
                    {% elif current_hour|add:0 < 17 %}
                        <p>Good Afternoon, {{ user.username }}
                            <i class="fa-solid fa-map-location-dot fadeInTop"></i>
                        </p>
                    {% else %}
                        <p>Good Evening, {{ user.username }}
                            <i class="fa-solid fa-cloud-moon fadeInTop"></i>
                        </p>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="row mx-auto px-lg-4">

            {% include 'action-buttons.html' %}

        </div>

    </div>

    <style>

        .welcome {
            font-size: x-large;
            font-weight: 500;
            font-style: italic;
        }

    </style>

{% endblock %}