<nav class="navbar navbar-expand-lg shadow-lg border"
     style="background: linear-gradient(.25turn, lightsteelblue, lightgoldenrodyellow); z-index: 999; font-family: 'JetBrains Mono Medium', monospace;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mileage-tracker-landing' %}">MILEAGE TRACKER</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        CALCULATORS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'business-calculator' %}">SELF EMPLOYMENT
                            CALCULATOR</a></li>
                        <li><a class="dropdown-item" href="{% url 'individual-calculator' %}">INDIVIDUAL TAX
                            CALCULATOR</a></li>
                    </ul>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">SIGN UP</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<style>

    .nav-link {
        font-size: medium;
        font-weight: 500;
        color: black;
    }

    .nav-link:hover {
        color: white;
    }

</style>